---
import Container from './Container.astro'
import styles from './footer.module.css'
---

<Container as="footer">
  <div class={styles.container}>
    Built with ❤️ by <a href="/">Aaron Russell</a>
  </div>
</Container>
